streamlit
opencv-contrib-python
ultralytics
torch
torchvision
numpy
easyocr
pennylane
qiskit
matplotlib
pillow
pandas
scipy
pathlib
qiskit-machine-learning
python-dotenv
fastapi
uvicorn
motor
python-multipart
pymongo
